@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.footer__mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    .description__container{
        h4{
            font-size: 24px;
            font-weight: v.$font-semibold;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p{
            font-size: 16px;
            max-width: 65%;
            font-weight: v.$font-regular;
    
        }
    }

    .links__container{
        display: flex;
        gap: 50px;
        ul{
            @include m.reset_list();
            li.list__title{
                font-size: 14px;
                font-weight: v.$font-medium;
            }
            li{
                a{
                    font-size: 16px;
                    font-weight: v.$font-regular;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}